public/nav.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ММСО 2022</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Korotkov ilushkeens@gmail.com">
    <meta name="theme-color" content="#333333">
    <!-- icon & css-->
    <link href="/favicon.svg" rel="icon">
    <link href="/mask-icon.svg" rel="mask-icon" color="#ffffff">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/main.css?v=370c394" rel="stylesheet"></head>
  <body>
    <div id="app">
      <main>
        <section id="nav">
          <div class="container">
            <div class="nav-bg">
              <div class="nav-bg__left"></div>
              <div class="nav-bg__right"></div>
            </div>
            <div class="nav content">
              <div class="nav__title">
                <h1>Экосистема ММСО</h1>
              </div>
              <ul class="nav-menu">
                <li><a href="#" title="Салон образования">
                    <svg>
                      <use href="/image/logo.svg#logo"></use>
                    </svg><span>Салон<br>образования</span></a></li>
                <li><a href="#" title="Онлайн">
                    <svg>
                      <use href="/image/logo.svg#logo"></use>
                    </svg><span>Онлайн</span></a></li>
                <li><a href="#" title="Коннект">
                    <svg>
                      <use href="/image/logo.svg#logo"></use>
                    </svg><span>Коннект</span></a></li>
              </ul>
              <div class="nav__image"><img href="/image/illustration/nav.png" srcset="/image/illustration/nav@2x.png 2x" alt="illustration"></div>
            </div>
            <div class="nav-bunner content">
              <div class="nav-bunner__group">
                <div class="nav-bunner__info">Трансляция</div>
                <div class="nav-bunner__date">21 февраля 17:00</div>
              </div>
              <div class="nav-bunner__group">
                <div class="nav-bunner__title">Public Talk</div>
                <div class="nav-bunner__text">
                  <p>Минздрав России готовит рекомендации для поликлиник по созданию «единого облика»</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=11c2c2a"></script><script defer src="/assets/js/main.js?v=85ef953"></script></body>
</html>

src/view/nav.pug
extends include/main

block variables
  - let title = 'ММСО 2022'
  - let page = 'nav'

block content
  section#nav
    .container
      .nav-bg
        .nav-bg__left
        .nav-bg__right
      .nav.content
        .nav__title
          h1 Экосистема ММСО
        ul.nav-menu
          li
            a(href='#' title='Салон образования')
              svg
                use(href='/image/logo.svg#logo')
              span
                | Салон
                br
                | образования
          li
            a(href='#' title='Онлайн')
              svg
                use(href='/image/logo.svg#logo')
              span Онлайн
          li
            a(href='#' title='Коннект')
              svg
                use(href='/image/logo.svg#logo')
              span Коннект
        .nav__image
          img(href='/image/illustration/nav.png' srcset='/image/illustration/nav@2x.png 2x' alt='illustration')
      .nav-bunner.content
        .nav-bunner__group
          .nav-bunner__info Трансляция
          .nav-bunner__date 21 февраля 17:00
        .nav-bunner__group
          .nav-bunner__title Public Talk
          .nav-bunner__text
            p Минздрав России готовит рекомендации для поликлиник по созданию «единого облика»
